In [237]:
reset

In [107]:
import pandas as pd
import numpy as np
import functions as f
import matplotlib.pyplot as plt

import xgboost as xgb
from sklearn.model_selection import train_test_split

import time

In [108]:
n_rows = 1000
train_set = pd.read_csv('train.csv',nrows=n_rows)

##### Get Sessions which end in clickout

In [109]:
sessions_id_with_clickout = train_set[train_set.action_type == 'clickout item'].session_id
df_clean = train_set[train_set.session_id.isin(sessions_id_with_clickout)]
df_clean = df_clean.sort_values(by=['session_id','step'])

In [110]:
df_clean.head(10)

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
278,0L2TX0JNYVQ6,06e7c29170946,1541041830,1,search for poi,Seoul Station,HK,"Seoul, South Korea",desktop,NaN,NaN,NaN
279,0L2TX0JNYVQ6,06e7c29170946,1541041870,2,clickout item,10091602,HK,"Seoul, South Korea",desktop,NaN,2802232|2733571|5477718|155374|155465|3549258|...,124|176|99|220|191|127|85|54|83|268|78|144|96|...
280,0L2TX0JNYVQ6,06e7c29170946,1541041882,3,interaction item deals,10091602,HK,"Seoul, South Korea",desktop,NaN,NaN,NaN
281,0L2TX0JNYVQ6,06e7c29170946,1541044143,4,search for poi,Myeongdong,HK,"Seoul, South Korea",desktop,NaN,NaN,NaN
282,0L2TX0JNYVQ6,06e7c29170946,1541044151,5,clickout item,10091602,HK,"Seoul, South Korea",desktop,NaN,3549258|155465|155374|363046|3954788|4773608|3...,135|189|219|78|74|135|95|85|176|99|108|83|87|3...
283,0L2TX0JNYVQ6,06e7c29170946,1541044255,6,search for poi,Myeongdong,HK,"Seoul, South Korea",desktop,NaN,NaN,NaN
284,0L2TX0JNYVQ6,06e7c29170946,1541044256,7,search for poi,Dongdaemun Market,HK,"Seoul, South Korea",desktop,NaN,NaN,NaN
285,0L2TX0JNYVQ6,06e7c29170946,1541044294,8,clickout item,1394008,HK,"Seoul, South Korea",desktop,NaN,2736998|9386776|7016734|2867638|797516|5677278...,249|122|110|81|81|42|74|109|62|91|83|104|78|87...
286,0L2TX0JNYVQ6,06e7c29170946,1541044324,9,clickout item,1394008,HK,"Seoul, South Korea",desktop,NaN,2736998|9386776|7016734|2867638|797516|5677278...,249|122|110|81|81|42|74|109|62|91|83|104|78|87...
287,0L2TX0JNYVQ6,06e7c29170946,1541044344,10,clickout item,5109850,HK,"Seoul, South Korea",desktop,NaN,5109850|3505382|377811|155374|4849224|3501452|...,59|52|66|219|104|95|85|69|125|176|99|83|30|268...

## Feature Extraction

##### Range Price

In [111]:
def range_price(df):
    
    if df.prices < 100:
        df['Price less than 100€'] = 1
    elif df.prices < 300:
        df['Price btw 100€ and 300€'] = 1
    else:
        df['Price more than 300€'] = 1
    
    return df

def price_feature(df):
    
    df_ref_clickout = df[df.action_type == 'clickout item'][['session_id','timestamp','reference','impressions']]
    df_ref_clickout = f.explode(df_ref_clickout,'impressions')
    
    df_impr_price = df[df.action_type=='clickout item'][['session_id','timestamp','impressions','prices']]
    df_impr_price = f.explode(df_impr_price,'prices')
    df_impr_price = df_impr_price.prices.apply(int)
    
    df_price_range = pd.concat([df_ref_clickout,df_impr_price],axis=1)
    
    df_price_range['Price less than 100€'] = 0
    df_price_range['Price btw 100€ and 300€'] = 0
    df_price_range['Price more than 300€'] = 0
    df_price_range = df_price_range.apply(range_price,axis=1)
    
    df_price_range = df_price_range[['session_id','timestamp','reference','impressions','Price less than 100€','Price btw 100€ and 300€','Price more than 300€']]
    
    return df_price_range

In [112]:
df_train_one_hot = price_feature(df_clean)

In [113]:
df_train_one_hot.head()

,session_id,timestamp,reference,impressions,Price less than 100€,Price btw 100€ and 300€,Price more than 300€
0,06e7c29170946,1541041870,10091602,2802232,0,1,0
1,06e7c29170946,1541041870,10091602,2733571,0,1,0
2,06e7c29170946,1541041870,10091602,5477718,1,0,0
3,06e7c29170946,1541041870,10091602,155374,0,1,0
4,06e7c29170946,1541041870,10091602,155465,0,1,0

- Previous Interaction with the clickout item
- Has filtered
- Has searched for item

In [171]:
def search(df):

    clickout_ref = df[df.action_type == 'clickout item']['reference'].unique()
    
    search_ref = df[df.action_type == 'search for item']['reference'].unique()
    search_ref = pd.Series(search_ref)
       
    if any(search_ref.isin(clickout_ref)):
        df['Has searched for clickout item'] = 1
        
    return df

def search_for_clickout_item(df):
    
    df_search_by_clickout_ref = df[['session_id','timestamp','action_type','reference']]
    df_search_by_clickout_ref = df_search_by_clickout_ref.set_index('session_id',drop=False)
    df_search_by_clickout_ref['Has searched for clickout item'] = 0

    df_search_by_clickout_ref = df_search_by_clickout_ref.groupby('session_id').apply(search)
        

    df_search_by_clickout_ref = df_search_by_clickout_ref[df_search_by_clickout_ref.action_type == 'clickout item'][['session_id','Has searched for clickout item']]
    df_search_by_clickout_ref = df_search_by_clickout_ref.drop_duplicates()
    
    return df_search_by_clickout_ref

In [168]:
del df_search_by_clickout_ref

In [175]:
df_search_clickout_item = search_for_clickout_item(df_clean)
df_search_clickout_item
#df_train_one_hot = df_train_one_hot.merge(df_search_clickout_item, left_on=['session_id'], right_index=True).drop(['session_id_x','session_id_y'],axis=1)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: FutureWarning: 'session_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version

                  session_id  Has searched for clickout item
session_id
06e7c29170946  06e7c29170946                               1
0c086494b8b9b  0c086494b8b9b                               0
0c5572e8d19a3  0c5572e8d19a3                               0
1b4ae517f7ebd  1b4ae517f7ebd                               0
22b9deb2da8f7  22b9deb2da8f7                               0
2423aea8cde50  2423aea8cde50                               0
325fafb5fa450  325fafb5fa450                               0
336d9a46b826f  336d9a46b826f                               0
3599a6f709eab  3599a6f709eab                               0
3737c2c0740b5  3737c2c0740b5                               0
3f58ea40a07dd  3f58ea40a07dd                               0
489f31ee6fca9  489f31ee6fca9                               0
4c6062d7cefe4  4c6062d7cefe4                               0
54694f389f9bb  54694f389f9bb                               0
554392be66854  554392be66854                               0
571988c5366eb  571988c5366eb                               0
59af211d26cdc  59af211d26cdc                               0
641a409c90fac  641a409c90fac                               0
649458cf7bc3e  649458cf7bc3e                               0
698c0975e6ffe  698c0975e6ffe                               0
6befd6e64592b  6befd6e64592b                               0
6d809cf3198b1  6d809cf3198b1                               0
7157899be2839  7157899be2839                               0
73c99d2cd8728  73c99d2cd8728                               1
7643893620070  7643893620070                               0
7b3142824a139  7b3142824a139                               0
7ddbbad580025  7ddbbad580025                               0
7f82f1d1f7e3d  7f82f1d1f7e3d                               0
81e3c2faad2ee  81e3c2faad2ee                               0
84316dcbfb8e3  84316dcbfb8e3                               0
862043530adde  862043530adde                               0
8748f6984266c  8748f6984266c                               0
91de23da01b00  91de23da01b00                               0
9eb4da70d5ccd  9eb4da70d5ccd                               0
a4927e71aa80e  a4927e71aa80e                               0
ac77b5670630f  ac77b5670630f                               0
ae1026cd27f7e  ae1026cd27f7e                               0
af793494b5f84  af793494b5f84                               0
aff3928535f48  aff3928535f48                               0
b1eabf1f2e155  b1eabf1f2e155                               1
b8895e6aa7a2a  b8895e6aa7a2a                               0
bbbd6098152db  bbbd6098152db                               0
bcc452f3350eb  bcc452f3350eb                               0
c0b179075aebb  c0b179075aebb                               0
c0cdade1ed014  c0cdade1ed014                               0
c7432cf9ef5e9  c7432cf9ef5e9                               0
c948ef282ca37  c948ef282ca37                               0
d99a14c61fdf3  d99a14c61fdf3                               0
dbe408c81daf3  dbe408c81daf3                               0
e665b2c1e8040  e665b2c1e8040                               0
ec139e10b9238  ec139e10b9238                               0

In [174]:
df_train_one_hot

,session_id,timestamp,reference,impressions,Price less than 100€,Price btw 100€ and 300€,Price more than 300€,Has searched for clickout item_x,has_clickout,Has searched for clickout item_y,Has searched for clickout item
0,06e7c29170946,1541041870,10091602,2802232,0,1,0,0,0,1,1
1,06e7c29170946,1541041870,10091602,2733571,0,1,0,0,0,1,1
2,06e7c29170946,1541041870,10091602,5477718,1,0,0,0,0,1,1
3,06e7c29170946,1541041870,10091602,155374,0,1,0,0,0,1,1
4,06e7c29170946,1541041870,10091602,155465,0,1,0,0,0,1,1
5,06e7c29170946,1541041870,10091602,3549258,0,1,0,0,0,1,1
6,06e7c29170946,1541041870,10091602,10091602,1,0,0,0,1,1,1
7,06e7c29170946,1541041870,10091602,6508748,1,0,0,0,0,1,1
8,06e7c29170946,1541041870,10091602,844336,1,0,0,0,0,1,1
9,06e7c29170946,1541041870,10091602,4638538,0,1,0,0,0,1,1
10,06e7c29170946,1541041870,10091602,3501450,1,0,0,0,0,1,1
11,06e7c29170946,1541041870,10091602,390361,0,1,0,0,0,1,1
12,06e7c29170946,1541041870,10091602,3501452,1,0,0,0,0,1,1
13,06e7c29170946,1541041870,10091602,363046,1,0,0,0,0,1,1
14,06e7c29170946,1541041870,10091602,2555968,1,0,0,0,0,1,1
15,06e7c29170946,1541041870,10091602,5197174,0,1,0,0,0,1,1
16,06e7c29170946,1541041870,10091602,4773608,0,1,0,0,0,1,1
17,06e7c29170946,1541041870,10091602,3171165,1,0,0,0,0,1,1
18,06e7c29170946,1541041870,10091602,3954788,1,0,0,0,0,1,1
19,06e7c29170946,1541041870,10091602,6833196,0,1,0,0,0,1,1
20,06e7c29170946,1541041870,10091602,5645106,0,1,0,0,0,1,1
21,06e7c29170946,1541041870,10091602,475256,0,1,0,0,0,1,1
22,06e7c29170946,1541041870,10091602,1627467,1,0,0,0,0,1,1
23,06e7c29170946,1541041870,10091602,4871108,0,1,0,0,0,1,1
24,06e7c29170946,1541041870,10091602,9033886,1,0,0,0,0,1,1
25,06e7c29170946,1541044151,10091602,3549258,0,1,0,0,0,1,1
26,06e7c29170946,1541044151,10091602,155465,0,1,0,0,0,1,1
27,06e7c29170946,1541044151,10091602,155374,0,1,0,0,0,1,1
28,06e7c29170946,1541044151,10091602,363046,1,0,0,0,0,1,1
29,06e7c29170946,1541044151,10091602,3954788,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
2032,ec139e10b9238,1541100322,1032816,12667,1,0,0,0,0,0,0
2033,ec139e10b9238,1541100322,1032816,84082,1,0,0,0,0,0,0
2034,ec139e10b9238,1541100322,1032816,1152188,1,0,0,0,0,0,0
2035,ec139e10b9238,1541100322,1032816,98737,0,1,0,0,0,0,0
2036,ec139e10b9238,1541100322,1032816,47410,1,0,0,0,0,0,0
2037,ec139e10b9238,1541100652,1032816,12693,0,1,0,0,0,0,0
2038,ec139e10b9238,1541100652,1032816,46363,1,0,0,0,0,0,0
2039,ec139e10b9238,1541100652,1032816,81657,0,1,0,0,0,0,0
2040,ec139e10b9238,1541100652,1032816,18448,0,1,0,0,0,0,0
2041,ec139e10b9238,1541100652,1032816,47687,0,1,0,0,0,0,0
2042,ec139e10b9238,1541100652,1032816,152913,0,1,0,0,0,0,0
2043,ec139e10b9238,1541100652,1032816,18417,1,0,0,0,0,0,0
2044,ec139e10b9238,1541100652,1032816,927627,1,0,0,0,0,0,0
2045,ec139e10b9238,1541100652,1032816,4147572,1,0,0,0,0,0,0
2046,ec139e10b9238,1541100652,1032816,819616,1,0,0,0,0,0,0
2047,ec139e10b9238,1541100652,1032816,18380,0,1,0,0,0,0,0
2048,ec139e10b9238,1541100652,1032816,47333,1,0,0,0,0,0,0
2049,ec139e10b9238,1541100652,1032816,18425,1,0,0,0,0,0,0
2050,ec139e10b9238,1541100652,1032816,1255377,1,0,0,0,0,0,0
2051,ec139e10b9238,1541100652,1032816,4043482,1,0,0,0,0,0,0
2052,ec139e10b9238,1541100652,1032816,1032816,0,1,0,0,1,0,0
2053,ec139e10b9238,1541100652,1032816,18388,0,1,0,0,0,0,0
2054,ec139e10b9238,1541100652,1032816,1216900,1,0,0,0,0,0,0
2055,ec139e10b9238,1541100652,1032816,106471,0,1,0,0,0,0,0
2056,ec139e10b9238,1541100652,1032816,106567,1,0,0,0,0,0,0
2057,ec139e10b9238,1541100652,1032816,12667,1,0,0,0,0,0,0
2058,ec139e10b9238,1541100652,1032816,84082,1,0,0,0,0,0,0
2059,ec139e10b9238,1541100652,1032816,1152188,1,0,0,0,0,0,0
2060,ec139e10b9238,1541100652,1032816,98737,0,1,0,0,0,0,0
2061,ec139e10b9238,1541100652,1032816,47410,1,0,0,0,0,0,0

### Create the has_clickout label

#### IMPORTANT!!!!

#### Last step in the Feature Extraction Process

In [116]:
df_train_one_hot['has_clickout'] = 0
df_train_one_hot.reference = df_train_one_hot.reference.apply(int)

In [117]:
def has_clickout(df):
    
    if (df.reference == df.impressions):
        df.has_clickout = 1
    return df

In [118]:
df_train_one_hot = df_train_one_hot.apply(has_clickout,axis=1)

In [119]:
#drop the unnecessary columns for training
df_train = df_train_one_hot.drop(['session_id','timestamp','reference','impressions'], axis=1)

## Train the model

In [120]:
x = df_train.drop('has_clickout', axis=1)
y = df_train.has_clickout

In [121]:
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.2)
dtrain = xgb.DMatrix(x_train, label=y_train)
dval = xgb.DMatrix(x_val, label=y_val)

C:\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

In [122]:
param = {'objective': 'binary:logistic'}
param['nthread'] = 4
param['eval_metric'] = 'logloss'
evallist = [(dtrain, 'train'),(dval, 'eval')]

In [130]:
num_round = 1000
t1 = time.time()
bst = xgb.train(param, dtrain, num_round, evallist, verbose_eval=100)
print("trained in:", np.round(time.time()-t1, 2), "seconds")

[0]	train-logloss:0.47673	eval-logloss:0.4857
[100]	train-logloss:0.165297	eval-logloss:0.216826
[200]	train-logloss:0.165297	eval-logloss:0.216823
[300]	train-logloss:0.165297	eval-logloss:0.216823
[400]	train-logloss:0.165297	eval-logloss:0.216823
[500]	train-logloss:0.165297	eval-logloss:0.216823
[600]	train-logloss:0.165297	eval-logloss:0.216823
[700]	train-logloss:0.165297	eval-logloss:0.216823
[800]	train-logloss:0.165297	eval-logloss:0.216823
[900]	train-logloss:0.165297	eval-logloss:0.216823
[999]	train-logloss:0.165297	eval-logloss:0.216823
trained in: 0.86 seconds

## Test

In [231]:
test_df = pd.read_csv('test.csv')
sub_target = f.get_submission_target(test_df)
len(sub_target)

253573

In [229]:
batch_size = 100

initial_t = time.time()

#Submission rows
sub_target = f.get_submission_target(test_df)

df_impr_by_ord = pd.DataFrame(columns=['session_id','impressions'])

for i in range(0, len(sub_target), batch_size):

    batch = sub_target[i:min(i+batch_size, len(sub_target))]
    
    t1 = time.time()
    
    x_test = price_feature(batch)
    
    df_test_search_clickout_item = search_for_clickout_item(sub_target)
    
    x_test = x_test.merge(df_test_search_clickout_item, left_on=['session_id'], right_index=True).drop(['session_id_x','session_id_y'],axis=1)
    x_test = x_test.drop(['session_id','timestamp','reference'], axis=1).set_index('impressions')
    # Create the DataFrame that will be used to order 
    # the impressions by probability

    df_test_prob_impr = f.explode(batch, 'impressions')[['impressions', 'session_id']]
    
    # Predict the probabilities for each
    # impression to be clicked

    dtest = xgb.DMatrix(x_test)
    pred = bst.predict(dtest)
    
    df_test_prob_impr['prob'] = pd.Series(pred)
    
    df_impr_sort = df_prob_impr.groupby(['session_id']).apply(sort_by_prob)
    df_impr_by_ord = pd.concat([df_impr_by_ord,df_impr_sort])
    df_impr_by_ord = df_impr_by_ord.drop_duplicates(subset=['session_id','impressions'],keep='first')
    df_impr_by_ord = df_impr_by_ord[['session_id','impressions']]
    
time.time()-initial_t

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: FutureWarning: 'session_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:40: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

         session_id                                        impressions
0     1d688ec168932  2059240 2033381 1724779 127131 399441 103357 1...
25    f05ab0de907e2                                   10884872 7065316
27    26b6d294d66e7  2714480 4476010 3843244 3833012 9017890 198100...
51    07628a0f5be0b  3565720 2947584 4115018 2039671 3836538 801409...
76    4a01c3afbc224  1451247 559056 1045096 1963879 693596 1967173 ...
101   89171d441a304  13361 5647680 116764 898719 8276346 9168 19325...
126   e09591d07cdef  1193320 5488246 3858774 4552034 10620372 22696...
134   7663406cf586c  241961 906477 991561 353701 1149665 77258 4943...
158   725e8adf70e86  109938 164193 632366 1362450 1070666 164220 11...
181   73f4c417ff730  42692 5116230 42876 4342578 42864 3148690 2123...
206   9f279162e8d5c  2755290 14054 10243166 3498770 726906 2616752 ...
231   289b34a2bb4dd  5828606 6618430 7828086 8474478 9225478 991468...
253   ca92389e5ea65  4667086 3152528 5480450 4341286 5601476 397494...
276   83ce8ea2a61b4  3818266 2547593 3899110 4599632 377921 508851 ...
301   49816a95c986a  2504828 2578276 511676 2344190 1652507 3242334...
326   ccaf5005ee842  6605 2270374 12959 6576 1622837 4122274 195595...
351   b1935d2a43d5e  1120687 2165594 5763948 519501 595286 3386520 ...
376   572801ee070f0  2032775 491891 1886115 3877836 5723470 4493250...
401   dc8ded19d1781  362746 48572 48885 49747 48426 50136 85862 496...
426   d29141ddbd43f  43495 43652 44038 43503 44682 43765 43359 4361...
451   d9497eeb946dc  39730 133101 39758 7029236 455086 3887112 1070...
476   0b105be325b12  998041 1389106 1400686 2216204 2394112 2817576...
500   7567cae385981  2269838 1439759 211041 1833415 1331323 923995 ...
525   35e873299a45f  54865 54803 54953 14211 95510 54838 54794 1484...
550   b4b881ddb91e0  109119 109118 1018349 2846590 1885413 2941498 ...
571   d2039eb924c5d  3145586 5157920 478986 3993110 478991 5790206 ...
596   11b583578f7f3  368306 369426 4916202 2045589 1328820 369421 1...
607   334177bbc6525  17112 1374294 17382 2321776 16895 17056 17108 ...
632   e9fa318e4aad0  1984531 4775794 1400686 930783 2612414 1199716...
657   db55ce2d55626  10001880 6452708 7492016 1048438 10127018 4726...
682   9e3e3ac5954f3  8504 8500 79307 76753 3248570 67924 9522612 56...
707   b126adad339fe  12688 12669 12694 12695 12712 46272 47101 4808...
732   f7529e581ca06  1401168 1522957 6686816 1133827 2656700 266167...
754   5caef301b61c5  7958190 7938766 1976583 4503802 7533136 104953...
779   ef3de41013dc9  46462 8254824 2529342 6230236 6535552 46686 18...
804   59bfbcb10146d  8194404 6721 6724 40109 40718 81021 110591 147...
829   5862212ab8611  610931 9324046 358946 8271 111344 64693 64553 ...
841   d70b87505f218  6453690 99481 153200 930065 1117713 1158460 18...
866   7afb20460a368  13699 100667 13673 111234 14680 920765 80376 8...
891   d80dc1f57e556  513401 1700081 479176 1496061 1045504 1627077 ...
916   1ce5090e871db  1946693 6438014 2795957 4398184 1589261 968698...
940   c0e1d70377e8d                                    2188426 3092731
942   e3e39b4041170  433511 5166404 7215348 925835 406646 771938 11...
967   01ee556c5f624  103600 103595 103633 4488068 1887173 596241 30...
992   a67e7e91205e9  4030032 493996 1650929 2707574 122383 3056634 ...
1010  58b7167e0da10  979155 1246333 788211 2329450 2049991 1393804 ...

In [226]:
df_impr_sort

                                            impressions     session_id  prob
0     2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
1     2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
2     2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
3     2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
4     2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
5     2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
6     2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
7     2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
8     2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
9     2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
10    2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
11    2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
12    2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
13    2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
14    2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
15    2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
16    2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
17    2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
18    2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
19    2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
20    2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
21    2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
22    2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
23    2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
24    2059240 2033381 1724779 127131 399441 103357 1...  1d688ec168932   NaN
25                                     10884872 7065316  f05ab0de907e2   NaN
26                                     10884872 7065316  f05ab0de907e2   NaN
27    2714480 4476010 3843244 3833012 9017890 198100...  26b6d294d66e7   NaN
28    2714480 4476010 3843244 3833012 9017890 198100...  26b6d294d66e7   NaN
29    2714480 4476010 3843244 3833012 9017890 198100...  26b6d294d66e7   NaN
...                                                 ...            ...   ...
1005  4030032 493996 1650929 2707574 122383 3056634 ...  a67e7e91205e9   NaN
1006  4030032 493996 1650929 2707574 122383 3056634 ...  a67e7e91205e9   NaN
1007  4030032 493996 1650929 2707574 122383 3056634 ...  a67e7e91205e9   NaN
1008  4030032 493996 1650929 2707574 122383 3056634 ...  a67e7e91205e9   NaN
1009  4030032 493996 1650929 2707574 122383 3056634 ...  a67e7e91205e9   NaN
1010  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1011  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1012  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1013  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1014  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1015  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1016  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1017  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1018  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1019  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1020  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1021  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1022  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1023  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1024  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1025  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1026  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1027  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1028  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1029  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1030  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1031  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1032  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1033  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN
1034  979155 1246333 788211 2329450 2049991 1393804 ...  58b7167e0da10   NaN

[1035 rows x 3 columns]

In [132]:
#Submission rows
sub_target = f.get_submission_target(test_df)

#Feature Extraction Test Set
x_test = price_feature(sub_target)

df_search_clickout_item = search_for_clickout_item(df_clean)
x_test = x_test.merge(df_search_clickout_item, left_on=['session_id'], right_index=True).drop(['session_id_x','session_id_y'],axis=1)

x_test = x_test.drop(['session_id','timestamp','reference'], axis=1).set_index('impressions')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  del sys.path[0]

In [143]:
# Create the DataFrame that will be used to order 
# the impressions by probability

df_prob_impr = f.explode(sub_target, 'impressions')[['impressions', 'session_id']]

In [144]:
# Predict the probabilities for each
# impression to be clicked

dtest = xgb.DMatrix(x_test)
pred = bst.predict(dtest)

In [145]:
df_prob_impr['prob'] = pd.Series(pred)

In [183]:
def sort_by_prob(df):
    
    try:
        df['impressions']= ' '.join([str(int(x)) for x in np.array(sorted(np.array(([df.impressions,df.prob])).T.tolist(),key=lambda x: x[1], reverse=True)).T[0]])
    
    except:
        pass
    
    return df

In [147]:
df_impr_by_ord = df_prob_impr.groupby(['session_id']).apply(sort_by_prob)
df_impr_by_ord = df_impr_by_ord.drop_duplicates(subset=['session_id','impressions'],keep='first')
df_impr_by_ord = df_impr_by_ord[['session_id','impressions']]
df_impr_by_ord

         session_id                                        impressions
0     1d688ec168932  2059240 2033381 1724779 127131 399441 103357 1...
25    f05ab0de907e2                                   10884872 7065316
27    26b6d294d66e7  2714480 4476010 3843244 3833012 9017890 198100...
51    07628a0f5be0b  3565720 2947584 4115018 2039671 3836538 801409...
76    4a01c3afbc224  1451247 559056 1045096 1963879 693596 1967173 ...
101   89171d441a304  13361 5647680 116764 898719 8276346 9168 19325...
126   e09591d07cdef  1193320 5488246 3858774 4552034 10620372 22696...
134   7663406cf586c  241961 906477 991561 353701 1149665 77258 4943...
158   725e8adf70e86  109938 164193 632366 1362450 1070666 164220 11...
181   73f4c417ff730  42692 5116230 42876 4342578 42864 3148690 2123...
206   9f279162e8d5c  2755290 14054 10243166 3498770 726906 2616752 ...
231   289b34a2bb4dd  5828606 6618430 7828086 8474478 9225478 991468...
253   ca92389e5ea65  4667086 3152528 5480450 4341286 5601476 397494...
276   83ce8ea2a61b4  3818266 2547593 3899110 4599632 377921 508851 ...
301   49816a95c986a  2504828 2578276 511676 2344190 1652507 3242334...
326   ccaf5005ee842  6605 2270374 12959 6576 1622837 4122274 195595...
351   b1935d2a43d5e  1120687 2165594 5763948 519501 595286 3386520 ...
376   572801ee070f0  2032775 491891 1886115 3877836 5723470 4493250...
401   dc8ded19d1781  362746 48572 48885 49747 48426 50136 85862 496...
426   d29141ddbd43f  43495 43652 44038 43503 44682 43765 43359 4361...
451   d9497eeb946dc  39730 133101 39758 7029236 455086 3887112 1070...
476   0b105be325b12  998041 1389106 1400686 2216204 2394112 2817576...
500   7567cae385981  2269838 1439759 211041 1833415 1331323 923995 ...
525   35e873299a45f  54865 54803 54953 14211 95510 54838 54794 1484...
550   b4b881ddb91e0  109119 109118 1018349 2846590 1885413 2941498 ...
571   d2039eb924c5d  3145586 5157920 478986 3993110 478991 5790206 ...
596   11b583578f7f3  368306 369426 4916202 2045589 1328820 369421 1...
607   334177bbc6525  17112 1374294 17382 2321776 16895 17056 17108 ...
632   e9fa318e4aad0  1984531 4775794 1400686 930783 2612414 1199716...
657   db55ce2d55626  10001880 6452708 7492016 1048438 10127018 4726...
682   9e3e3ac5954f3  8504 8500 79307 76753 3248570 67924 9522612 56...
707   b126adad339fe  12688 12669 12694 12695 12712 46272 47101 4808...
732   f7529e581ca06  1401168 1522957 6686816 1133827 2656700 266167...
754   5caef301b61c5  7958190 7938766 1976583 4503802 7533136 104953...
779   ef3de41013dc9  46462 8254824 2529342 6230236 6535552 46686 18...
804   59bfbcb10146d  8194404 6721 6724 40109 40718 81021 110591 147...
829   5862212ab8611  610931 9324046 358946 8271 111344 64693 64553 ...
841   d70b87505f218  6453690 99481 153200 930065 1117713 1158460 18...
866   7afb20460a368  13699 100667 13673 111234 14680 920765 80376 8...
891   d80dc1f57e556  513401 1700081 479176 1496061 1045504 1627077 ...
916   1ce5090e871db  1946693 6438014 2795957 4398184 1589261 968698...
940   c0e1d70377e8d                                    2188426 3092731
942   e3e39b4041170  433511 5166404 7215348 925835 406646 771938 11...
967   01ee556c5f624  103600 103595 103633 4488068 1887173 596241 30...
992   a67e7e91205e9  4030032 493996 1650929 2707574 122383 3056634 ...
1010  58b7167e0da10  979155 1246333 788211 2329450 2049991 1393804 ...

### Add the impressions ordered to the submission file

In [148]:
submission_file = sub_target[f.GR_COLS].merge(df_impr_by_ord)
submission_file
#submission_file.to_csv('submission_file', sep=',', encoding='utf-8')

,user_id,session_id,timestamp,step,impressions
0,004A07DM0IDW,1d688ec168932,1541555799,7,2059240 2033381 1724779 127131 399441 103357 1...
1,009RGHI3G9A3,f05ab0de907e2,1541570940,2,10884872 7065316
2,00Y1Z24X8084,26b6d294d66e7,1541651823,2,2714480 4476010 3843244 3833012 9017890 198100...
3,01V3WDTDM5CU,07628a0f5be0b,1541575643,5,3565720 2947584 4115018 2039671 3836538 801409...
4,02AOAVF9PVYH,4a01c3afbc224,1541681278,46,1451247 559056 1045096 1963879 693596 1967173 ...
5,0339C84S24ET,89171d441a304,1541615683,36,13361 5647680 116764 898719 8276346 9168 19325...
6,0386OH8JDE1Q,e09591d07cdef,1541620536,2,1193320 5488246 3858774 4552034 10620372 22696...
7,03LTH89QY623,7663406cf586c,1541554183,4,241961 906477 991561 353701 1149665 77258 4943...
8,03VT0ODUTZB0,725e8adf70e86,1541632490,23,109938 164193 632366 1362450 1070666 164220 11...
9,03XH0JWCWHAM,73f4c417ff730,1541566143,176,42692 5116230 42876 4342578 42864 3148690 2123...
10,05BAHQHA5RCI,9f279162e8d5c,1541633993,5,2755290 14054 10243166 3498770 726906 2616752 ...
11,062OG5L9831R,289b34a2bb4dd,1541663105,21,5828606 6618430 7828086 8474478 9225478 991468...
12,06OT6WXN246O,ca92389e5ea65,1541688448,14,4667086 3152528 5480450 4341286 5601476 397494...
13,08GEUYKFOOPX,83ce8ea2a61b4,1541643155,30,3818266 2547593 3899110 4599632 377921 508851 ...
14,091L4C793B1J,49816a95c986a,1541625659,63,2504828 2578276 511676 2344190 1652507 3242334...
15,09K0CO8F5AXJ,ccaf5005ee842,1541693719,2,6605 2270374 12959 6576 1622837 4122274 195595...
16,09X618WIVTP3,b1935d2a43d5e,1541688108,3,1120687 2165594 5763948 519501 595286 3386520 ...
17,09YREZJA9YH3,572801ee070f0,1541688494,42,2032775 491891 1886115 3877836 5723470 4493250...
18,0A30V2M11MDK,dc8ded19d1781,1541689101,16,362746 48572 48885 49747 48426 50136 85862 496...
19,0A8YWBYRBRTP,d29141ddbd43f,1541623589,2,43495 43652 44038 43503 44682 43765 43359 4361...
20,0BZN2KFMHLZF,d9497eeb946dc,1541668916,1,39730 133101 39758 7029236 455086 3887112 1070...
21,0CN5A7BJZRGW,0b105be325b12,1541657496,33,998041 1389106 1400686 2216204 2394112 2817576...
22,0D1M41K80XJ1,7567cae385981,1541660443,7,2269838 1439759 211041 1833415 1331323 923995 ...
23,0D1XFBRWUX7Z,35e873299a45f,1541586069,1,54865 54803 54953 14211 95510 54838 54794 1484...
24,0DHC2FF92LFS,b4b881ddb91e0,1541601665,40,109119 109118 1018349 2846590 1885413 2941498 ...
25,0DJUQ92EQYM0,d2039eb924c5d,1541649689,3,3145586 5157920 478986 3993110 478991 5790206 ...
26,0EPVF4QE049Q,11b583578f7f3,1541611766,1,368306 369426 4916202 2045589 1328820 369421 1...
27,0GY71I4BUBQW,334177bbc6525,1541638087,1,17112 1374294 17382 2321776 16895 17056 17108 ...
28,0H2RFN3FXM5A,e9fa318e4aad0,1541576918,1,1984531 4775794 1400686 930783 2612414 1199716...
29,0HG5FZNPFDYC,db55ce2d55626,1541571390,2,10001880 6452708 7492016 1048438 10127018 4726...
30,0HPR8MG837GZ,9e3e3ac5954f3,1541648887,2,8504 8500 79307 76753 3248570 67924 9522612 56...
31,0HQM42M23DRC,b126adad339fe,1541580854,2,12688 12669 12694 12695 12712 46272 47101 4808...
32,0I20KCPKN010,f7529e581ca06,1541579052,8,1401168 1522957 6686816 1133827 2656700 266167...
33,0J02N1PV2F7U,5caef301b61c5,1541600100,63,7958190 7938766 1976583 4503802 7533136 104953...
34,0KUI1NN03SJT,ef3de41013dc9,1541588206,2,46462 8254824 2529342 6230236 6535552 46686 18...
35,0L2CALL26C66,59bfbcb10146d,1541593658,1,8194404 6721 6724 40109 40718 81021 110591 147...
36,0LDPAF4IYVK4,5862212ab8611,1541641772,114,610931 9324046 358946 8271 111344 64693 64553 ...
37,0M88URLII445,d70b87505f218,1541613013,4,6453690 99481 153200 930065 1117713 1158460 18...
38,0ME9OE1GS1Q9,7afb20460a368,1541591150,1,13699 100667 13673 111234 14680 920765 80376 8...
39,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,513401 1700081 479176 1496061 1045504 1627077 ...
40,0NHTKUW83M02,1ce5090e871db,1541601021,5,1946693 6438014 2795957 4398184 1589261 968698...
41,0NK2TU8JS5IE,c0e1d70377e8d,1541586959,2,2188426 3092731
42,0NMWJUR0YYSU,e3e39b4041170,1541677811,2,433511 5166404 7215348 925835 406646 771938 11...
43,0NV4W83NJ411,01ee556c5f624,1541571492,25,103600 103595 103633 4488068 1887173 596241 30...
44,0OPI22DCY9N6,a67e7e91205e9,1541697878,39,4030032 493996 1650929 2707574 122383 3056634 ...
45,0P1VN1RKMHQG,58b7167e0da10,1541584664,2,979155 1246333 788211 2329450 2049991 1393804 ...